:root {
  --color-primary: #5C9191;
  --color-primary-light: #BFD1CB;
  --color-secondary: #F8B19E;
  --color-accent: #E9B765;
  --color-white: #fff;
  --color-black: #000;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "EB Garamond", serif;
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  font-weight: var(--weight-bold);
  letter-spacing: .5rem;
}

h2 {
  font-weight: var(--weight-regular);
  letter-spacing: .4rem;
}

h3 {
  font-weight: var(--weight-medium);
  letter-spacing: .2rem;
}

h4 {
  font-family: var(--font-secondary);
}

p {
  font-family: var(--font-secondary);
}

.btn {
  font-weight: var(--weight-light);
  background-color: none;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-hover {
 color: #fff;
 background-color: var(--color-secondary);
 border-color: var(--color-accent);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

mark {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

ul {
  list-style-type: none;
  text-decoration: none;
}

li {
  list-style-type: none;
  text-decoration: none;
}
