---
layout: default
titleAfter: Graphic Designer
title: Home
meta: Ottawa based Graphic designer specialising in branding, package design and print material.
priority: 1.0
---

<header role="banner">
  <div class="embed embed-16by9">
    <img class="embed-item" src="images/personal-brand-banner.jpg">
    </img>
  </div>
<main role="main" id="main">
<h2 class="text-upper gutter pad-t-2 portfolio-h bold push-0">Portfolio Pieces</h2>
<h3 class="gutter portfolio-sub italic push-2">My design work</h3>
<ul class="list-group grid gutter push-0">
  <li class="unit xs-1 s-1 m-1-3 l-1-3 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
      {% pattern cards/home-work-card image="home-gp.jpg" heading="Golden Palace project" href="/portfolio/#packaging" %}
  </li>
  <li class="unit xs-1 s-1 m-1-3 l-1-3 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
    <a href="/portfolio/#hbo">
      {% pattern cards/home-work-card image="home-hbo.jpg" heading="Package Redesign" href="/portfolio/#hbo" %}
    </a>
  </li>
  <li class="unit xs-1 s-1 m-1-3 l-1-3 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
    <a href="/portfolio/#slushpuppie">
      {% pattern cards/home-work-card image="home-slush.jpg" heading="Slush Puppie" href="/portfolio/#slushpuppie" %}
    </a>
  </li>
</ul>
<ul class="list-group grid gutter push-2">
  <li class="unit xs-1 s-1 m-1-2 l-1-4 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
    <a href="/portfolio/#mikerobinson">
      {% pattern cards/home-work-card image="home-mikerobinson.jpg" heading="The Mike Robinson Team" href="/portfolio/#mikerobinson" %}
    </a>
  </li>
  <li class="unit xs-1 s-1 m-1-2 l-1-4 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
    <a href="/portfolio/#branding">
      {% pattern cards/home-work-card image="home-burger.jpg" heading="Motion Graphics" href="https://vimeo.com/user75829302" %}
    </a>
  </li>
  <li class="unit xs-1 s-1 m-1-2 l-1-4 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
    <a href="/portfolio/#branding">
      {% pattern cards/home-work-card image="home-hs.jpg" heading="Branding" href="/portfolio/#branding" %}
    </a>
  </li>
  <li class="unit xs-1 s-1 m-1-2 l-1-4 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
    <a href="/portfolio/#paid-work">
      {% pattern cards/home-work-card image="home-pc.jpg" heading="Parks Canada" href="/portfolio/#paid-work" %}
    </a>
  </li>
</ul>
<section class="pad-t-2 gutter-2 push-2" id="about">
  {% pattern cards/photo-text-card image="headshot-edit.jpg" heading="About me" text="I'm a graphic designer from Ottawa, Canada. I have a bachelor's degree in fine art from the University of Ottawa and a graphic design diploma from Algonquin College. I enjoy creating designs that include video, illustrations, advertising, branding, and many other different types of design. Check out my 2020 motion graphics reel:" %}
</section>
<div class="push-0">
  {% pattern banners/main-banner heading="Graphic Designer" text="& Fine artist from Ottawa, Canada" image="banner.jpg" button_text="Contact me" button_url="mailto:michaela.robinson178@gmail.com" %}
</div>
