---
layout: default
titleAfter: Graphic Designer
title: Home
meta: Ottawa based Graphic designer specialising in branding, package design and print material.
priority: 1.0
---

<header role="banner">
  <div class="embed embed-16by9">
    <img class="embed-item" src="images/personal-brand-banner.jpg">
    </img>
  </div>
<main role="main" id="main">
<h2 class="text-upper gutter pad-t-2 portfolio-h bold push-0">Portfolio Pieces</h2>
<h3 class="gutter portfolio-sub italic push-2">My design work</h3>
<ul class="list-group grid gutter push-0">
  <li class="unit xs-1 s-1 m-1-2 l-1-4 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
      {% pattern cards/home-work-card image="home-gp.jpg" heading="Golden Palace project" href="/portfolio/#packaging" %}
  </li>
  <li class="unit xs-1 s-1 m-1-2 l-1-4 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
    <a href="/portfolio/#hbo">
      {% pattern cards/home-work-card image="home-hbo.jpg" heading="Package Redesign" %}
    </a>
  </li>
  <li class="unit xs-1 s-1 m-1-2 l-1-4 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
    <a href="/portfolio/#branding">
      {% pattern cards/home-work-card image="home-slush.jpg" heading="Slush Puppie" %}
    </a>
  </li>
  <li class="unit xs-1 s-1 m-1-2 l-1-4 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
    <a href="/portfolio/#paid-work">
      {% pattern cards/home-work-card image="home-mikerobinson.jpg" heading="The Mike Robinson Team" %}
    </a>
  </li>
</ul>
<ul class="list-group grid gutter push-2">
  <li class="unit xs-1 s-1 m-1-2 l-1-4 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
      {% pattern cards/home-work-card image="home-gp.jpg" heading="Golden Palace project" href="/portfolio/#packaging" %}
  </li>
  <li class="unit xs-1 s-1 m-1-2 l-1-4 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
    <a href="/portfolio/#branding">
      {% pattern cards/home-work-card image="home-burger.jpg" heading="Branding" %}
    </a>
  </li>
  <li class="unit xs-1 s-1 m-1-2 l-1-4 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
    <a href="/portfolio/#branding">
      {% pattern cards/home-work-card image="home-hs.jpg" heading="Branding" %}
    </a>
  </li>
  <li class="unit xs-1 s-1 m-1-2 l-1-4 {% if page.highlight_nav == 'portfolio' %}current{% endif %}">
    <a href="/portfolio/#paid-work">
      {% pattern cards/home-work-card image="home-pc.jpg" heading="Paid Work" %}
    </a>
  </li>
</ul>
<section>
  {% pattern banners/video-banner video="web-motion-reel.mp4" %}
</section>
<section class="pad-t-2 gutter-2 push-2" id="about">
  {% pattern cards/photo-text-card image="headshot-edit.jpg" heading="About me" text="I'm a graphic designer from Ottawa, Canada. I’m terrible at math. Early on, I knew I would never be someone who works with numbers, but I was promised there’s no way to make a living being creative. I made a promise to myself to love what I do for a living. Design for me, is a way of life, full of colour. I started my education using paint, brushes and pencils and ended with a computer and a mouse, proving that I can in fact have a career from being creative and I can just google my math problems." %}
</section>
<div class="push-0">
  {% pattern banners/main-banner heading="Graphic Designer" text="& Fine artist from Ottawa, Canada" image="banner.jpg" button_text="Contact me" button_url="mailto:michaela.robinson178@gmail.com" %}
</div>
