ul {
  list-style-type: none;
}

li {
  list-style-type: none;
  letter-spacing: .2rem;
}

.white {
  letter-spacing: .2rem;
  color: #fff;
}

.white:hover {
  color: var(--color-primary);
}

footer {
  background-color: var(--color-secondary);
  color: #fff;
}

svg {
  fill: #fff;
}
