.btn {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  border-radius: 0;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.btn:hover {
  background-color: var(--color-primary);
  border-color: #fff;
  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.btn-ghost:hover {
  background-color: var(--color-primary);
  border-color: #fff;
  color: #fff;
}

.btn-light {
  background-color: transparent;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.btn-light:hover {
  background-color: var(--color-secondary);
  border-color: #fff;
  color: #fff;
}
