.card:hover {
  transition: all .3s ease;
}

.card-img:hover {
  filter: blur(5px);
  transition: .3s ease;
}

.line-height {
  line-height: 40px;
}

.card {
  display: block;
  position: relative;
}
