.nav-list {
  letter-spacing: .1rem;
}

.nav-list:hover {
  font-weight: bold;
  transition: all .3s ease;
}

.title {
  font-weight: bold;
  color: var(--color-secondary);
}

@media only screen and (min-width: 25em) {

  .title {
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  .title {
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  .title {
    text-align: left;
  }

}

@media only screen and (min-width: 90em) {

  .title {
    text-align: left;
  }

}
