<ul class="skip-links">
  <li><a href="#main">Jump to main content</a></li>
  <li><a href="#nav">Jump to navigation</a></li>
</ul>

<div>
  <h2 class="text-upper text-center title">Michaela Robinson</h2>
  <nav class="navigation" role="navigation" id="nav" tabindex="0">

    <ul class="grid list-group">
      <li class="navigation center-text unit xs-1-4 s-1-4 m-1-4 l-1-4 text-upper {% if page.highlight_nav == 'home' %}current{% endif %}"><a class="ib nav-list" href="/">Home</a></li>
      <li class="navigation center-text unit xs-1-4 s-1-4 m-1-4 l-1-4 text-upper {% if page.highlight_nav == 'resume' %}current{% endif %}"><a class="ib nav-list" href="/">Resume</a></li>
      <li class="navigation center-text unit xs-1-4 s-1-4 m-1-4 l-1-4 text-upper {% if page.highlight_nav == 'work' %}current{% endif %}"><a class="ib nav-list" href="/">Work</a></li>
      <li class="navigation center-text unit xs-1-4 s-1-4 m-1-4 l-1-4 text-upper {% if page.highlight_nav == 'about' %}current{% endif %}"><a class="ib nav-list" href="/">About</a></li>
    </ul>

  </nav>
</div>
