<ul class="skip-links">
  <li><a href="#main">Jump to main content</a></li>
  <li><a href="#nav">Jump to navigation</a></li>
</ul>

<div>
  <nav class="navigation" role="navigation" id="nav" tabindex="0">

    <ul class="grid list-group-inline">
      <li class="navigation unit xs-1-3 s-1-3 m-1-3 l-1-3 text-upper {% if page.highlight_nav == 'home' %}current{% endif %}"><a class="ib" href="/">Home</a></li>
      <li class="navigation unit xs-1-3 s-1-3 m-1-3 l-1-3 text-upper {% if page.highlight_nav == 'resume' %}current{% endif %}"><a class="ib" href="/">Resume</a></li>
      <li class="navigation unit xs-1-3 s-1-3 m-1-3 l-1-3 text-upper {% if page.highlight_nav == 'work' %}current{% endif %}"><a class="ib" href="/">Work</a></li>
    </ul>

  </nav>
</div>
