.subheading {
  letter-spacing: .2rem;
  color: #fff;
}

.banner-heading {
  color: #fff;
}

.banner:hover .displayonhover {
  display: block;
  transition: all .5s ease;
}

.displayonhover {
  width: 900px;
  background-color: rgba(92, 145, 145, .6);
  display: none;
}
