.subheading {
  letter-spacing: .2rem;
  color: #fff;
}

.banner-heading {
  color: #fff;
}

.banner:hover .displayonhover {
  display: block;
  transition: all .5s ease;
}

.displayonhover {
  width: 900px;
  background-color: rgba(92, 145, 145, .6);
  display: none;
}

.embed-video {
  position: relative;
}

.embed__item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.embed--16by9 {
  padding-top: 56.25%;
}
